apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "waypoint_addr: "waypoint.waypoint-system.svc.cluster.local",
      "token": "BCkP8cw7qjsKhhkXeF3SsV8FY9NPzGCx5bJgocMuiKhn1wpHmxj4AsR5pXC1GF6pbYujjCgZxziae8BBwnvrkBsD7GK8DKMfyKsXkKQ1jmBCqfEwLo8WAvuv6Vp55bEqCis6QgTkXECFbVPjN"
    }
